<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AhmadNexus" value="http://nexus-ahmad-dev.ir/repository/nuget-hosted/index.json" allowInsecureConnections="True" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="xunit*" />
      <package pattern="coverlet*" />
    </packageSource>
    <packageSource key="AhmadNexus">
      <package pattern="AhmadBase.*" />
      <package pattern="Ahmad.*" />
    </packageSource>
  </packageSourceMapping>
  <config>
    <add key="dependencyVersion" value="Highest" />
  </config>
</configuration>
