<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AhmadNexus" value="http://nexus-ahmad-dev.ir/repository/nuget-hosted/index.json" allowInsecureConnections="True" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Autofac*" />
      <package pattern="FluentValidation*" />
      <package pattern="Serilog*" />
      <package pattern="Swashbuckle*" />
      <package pattern="Asp.Versioning*" />
      <package pattern="Hellang*" />
      <package pattern="Newtonsoft*" />
      <package pattern="Dapper*" />
      <package pattern="NHiLo*" />
      <package pattern="Figgle*" />
      <package pattern="Quartz*" />
      <package pattern="BCrypt*" />
      <package pattern="xunit*" />
      <package pattern="coverlet*" />
    </packageSource>
    <packageSource key="AhmadNexus">
      <package pattern="AhmadBase.*" />
      <package pattern="Ahmad.*" />
      <package pattern="Azure.Core" />
      <package pattern="Azure.Identity" />
      <package pattern="Elasticsearch.Net" />
      <package pattern="Humanizer.Core" />
      <package pattern="Mono.TextTemplating" />
      <package pattern="MySqlConnector" />
      <package pattern="Oracle.ManagedDataAccess.Core" />
      <package pattern="Pipelines.Sockets.Unofficial" />
      <package pattern="SQLitePCLRaw.core" />
      <package pattern="StackExchange.Redis" />
    </packageSource>
  </packageSourceMapping>
</configuration>
